body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  font-size: 12px;
}

/* a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
} */

h4 {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  display:inline-block;
  margin: 10px 0px 0px 0px;
  color: gray;
}

.user{
  border-radius: 5px;
  flex: 0;
  padding: 10px;
  margin: 10% 0px 0px 10px;
  max-height: auto;
  max-width: 40%;

}

.header {
  font-size: 15px;
  padding: 10px;
  text-align: right;
  color: white;
  max-width: 100%;
}

.logout{
  margin-right: 20px;
}
