.infobut{
    background-color: #FFFFFF;
    border-color: #000000; /*set the color you want here*/
}

.infobut:hover{
  background-color: #efefef;
}

.infobut:active{
  color: #E3E3E3;
  background-color: #efefef;
  border-color: #000000;
}

.infobut:focus{
  color: #E3E3E3;
  background-color: #efefef;
  border-color: #000000;
}

.but{
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

.but:hover{
  background-color: #E3E3E3;

}
/* p{
  word-break: break-all;
  height: 100px;
  text-align: justify;
} */
